{% load static %}


<footer class="footer-main-site">
            <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
                <div class="footer-shopping-features">
                    <div class="container-fluid">
                        <div class="col-12">
                            <div class="item">
                                <span class="icon-shopping">
                                    <img src="{% static "assets/images/footer/features/delivery-truck.svg" %}" width="50"
                                        alt="تحویل اکسپرس" class="img-shopping">
                                </span>
                                <span class="title-shopping">تحویل اکسپرس</span>
                                <span class="desc-shopping">در کمترین زمان دریافت کنید</span>
                            </div>
                            <div class="item">
                                <span class="icon-shopping">
                                    <img src="{% static "assets/images/footer/features/24-hours-support.svg" %}" width="50"
                                        alt="پشتیبانی ۲۴ ساعته" class="img-shopping">
                                </span>
                                <span class="title-shopping">پشتیبانی ۲۴ ساعته</span>
                                <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                            </div>
                            <div class="item">
                                <span class="icon-shopping">
                                    <img src="{% static "assets/images/footer/features/income.svg" %}" width="50" alt="پرداخت در محل"
                                        class="img-shopping">
                                </span>
                                <span class="title-shopping">پرداخت در محل</span>
                                <span class="desc-shopping">هنگام دریافت پرداخت کنید</span>
                            </div>
                            <div class="item">
                                <span class="icon-shopping">
                                    <img src="{% static "assets/images/footer/features/easy-return.svg" %}" width="50"
                                        alt="۷ روز ضمانت بازگشت" class="img-shopping">
                                </span>
                                <span class="title-shopping">۷ روز ضمانت بازگشت</span>
                                <span class="desc-shopping">هفت روز مهلت دارید </span>
                            </div>
                            <div class="item">
                                <span class="icon-shopping">
                                    <img src="{% static "assets/images/footer/features/original.svg" %}" width="50"
                                        alt="ضمانت اصل‌بودن کالا" class="img-shopping">
                                </span>
                                <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                                <span class="desc-shopping">تایید اصالت کالا</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="footer-middlebar">
                            <div class="col-lg-8 d-block pr">
                                <div class="footer-links">
                                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                        <div class="row">
                                            <section class="footer-links-col">
                                                <div class="headline-links">
                                                    <a href="#">
                                                        با دیجی اسمارت
                                                    </a>
                                                </div>
                                                <ul class="footer-menu-ul">
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            اتاق خبر دیجی اسمارت
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            فروش در دیجی اسمارت
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            همکاری با سازمان‌ها
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            فرصت‌های شغلی
                                                        </a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                        <div class="row">
                                            <section class="footer-links-col">
                                                <div class="headline-links">
                                                    <a href="#">
                                                        خدمات مشتریان
                                                    </a>
                                                </div>
                                                <ul class="footer-menu-ul">
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            پاسخ به پرسش‌های متداول
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            رویه‌های بازگرداندن کالا
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            شرایط استفاده
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            حریم خصوصی
                                                        </a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                        <div class="row">
                                            <section class="footer-links-col">
                                                <div class="headline-links">
                                                    <a href="#">
                                                        راهنمای خرید از دیجی اسمارت
                                                    </a>
                                                </div>
                                                <ul class="footer-menu-ul">
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            نحوه ثبت سفارش
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            رویه ارسال سفارش
                                                        </a>
                                                    </li>
                                                    <li class="menu-item-type-custom">
                                                        <a href="#">
                                                            شیوه‌های پرداخت
                                                        </a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-block pl">
                                <div class="shortcode-widget-area">
                                    <form action="#" class="form-newsletter">
                                        <fieldset>
                                            <span class="form-newsletter-title"> با عضویت در خبرنامه از آخرین اخبار و
                                                محصولات سایت مطلع شوید...</span>
                                            <div class="input-group-newsletter">
                                                <input type="email" class="input-field form-control"
                                                    placeholder="آدرس ایمیل خود را وارد کنید">
                                                <button class="btn btn-info btn-secondary" type="submit">ارسال</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="footer-more-info">
                                <div class="col-lg-10 pr">
                                    <div class="footer-content d-block">
                                        <div class="text pr-1">
                                            <h2 class="title">فروشگاه اینترنتی دیجی اسمارت</h2>
                                            <p class="desc"> دیجی اسمارت به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی
                                                با بیش از یک دهه تجربه، با پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز
                                                ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با
                                                فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود.
                                                به محض ورود به دیجی اسمارت با یک سایت پر از کالا رو به رو می‌شوید! هر
                                                آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 pl">
                                    <div class="footer-safety-partner">
                                        <div class="widget widget-product card mb-0">
                                            <div
                                                class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                                <div class="owl-stage-outer">
                                                    <div class="owl-stage"
                                                        style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                                        <div class="owl-item active"
                                                            style="width: 300.75px; margin-left: 10px;">
                                                            <div class="item">
                                                                <a href="#" class="d-block hover-img-link">
                                                                    <img src="{% static "assets/images/footer/license/L-1.png" %}"
                                                                        class="img-fluid img-brand" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item active"
                                                            style="width: 300.75px; margin-left: 10px;">
                                                            <div class="item">
                                                                <a href="#" class="d-block hover-img-link mt-0">
                                                                    <img src="{% static "assets/images/footer/license/L-2.png" %}"
                                                                        class="img-fluid img-brand" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-copyright">
                                    <div class="footer-copyright-text">
                                        <p>تمامی مطالب، عکس ها و... متعلق به سایت فروشگاهی دیجی اسمارت می باشد.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>