{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه اینترنتی کالا مارکت</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="{% static "assets/css/vendor/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/materialdesignicons.css" %}">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="{% static "assets/css/vendor/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/jquery.jqZoom.css" %}">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
</head>