{% load static %}
<script src="{% static "assets/js/vendor/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "assets/js/vendor/bootstrap.js" %}"></script>
<!-- plugin----------------------------------------------------->
<script src="{% static "assets/js/vendor/owl.carousel.min.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.countdown.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.nice-select.min.js" %}"></script>
<script src="{% static "assets/js/vendor/jquery.jqZoom.js" %}"></script>

<!-- main js---------------------------------------------------->
<script src="{% static "assets/js/main.js" %}"></script>