{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">جستجو</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="header-search text-right">
                        <div class="header-search-box">
                            <form action="#" class="form-search">
                                <input type="search" class="header-search-input" name="search-input"
                                    placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                <div class="action-btns">
                                    <button class="btn btn-search" type="submit">
                                        <img src="assets/images/search.png" alt="search">
                                    </button>
                                    <div class="search-filter">
                                        <div class="form-ui">
                                            <div class="custom-select-ui">
                                                <select class="right">
                                                    <option>همه دسته ها</option>
                                                    <option>کالای دیجیتال</option>
                                                    <option>آرایشی بهداشتی</option>
                                                    <option>ابزاری اداری</option>
                                                    <option>مد پوشاک</option>
                                                    <option>خانه آشپز خانه</option>
                                                    <option>لوازم تحریر و هنر</option>
                                                    <option>کودک و نوزاد</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="search-result">
                                <ul class="search-result-list mb-0">
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            کالای دیجیتال
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            آرایشی و بهداشتی
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            گوشی موبایل
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            تبلت
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            لپ تاپ
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            دوربین
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                                <div class="localSearchSimple"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>
    <!-- header-------------------------------->

    <!-- profile------------------------------->
    <div class="container-main">
        <div class="d-block">
            <section class="profile-home">
                <div class="col-lg">
                    <div class="post-item-profile order-1 d-block">
                        <div class="col-lg-3 col-md-3 col-xs-12 pr">

                            {% include "include/profile/sidbar.html" %}

                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12 pl">
                            <div class="profile-content">
                                <div class="profile-stats">
                                    <div class="profile-address">
                                        <div class="middle-container">
                                            <form action="#" class="form-checkout">
                                                <div class="form-checkout-row">
                                                    <label for="name">نام تحویل گیرنده <abbr class="required"
                                                            title="ضروری" style="color:red;">*</abbr></span></label>
                                                    <input type="text" id="name"
                                                        class="input-name-checkout form-control">
                                                    <label for="phone-number">شماره موبایل <abbr class="required"
                                                            title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" id="phone-number"
                                                        class="input-name-checkout form-control text-left">
                                                    <label for="fixed-number">شماره تلفن ثابت <abbr class="required"
                                                            title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" id="fixed-number"
                                                        class="input-name-checkout form-control text-left">

                                                    <div class="form-checkout-valid-row">
                                                        <label for="province">استان
                                                            <abbr class="required" title="ضروری"
                                                                style="color:red;">*</abbr>
                                                        </label>
                                                        <select name="" id="province" class="form-control">
                                                            <option value="date-desc" selected="selected">استان مورد نظر
                                                                خود را انتخاب کنید </option>
                                                            <option value="date-asc">تهران</option>
                                                            <option value="rate">مشهد</option>
                                                            <option value="views">اصفهان</option>
                                                            <option value="comments">شیراز</option>
                                                        </select>
                                                        <label for="bld-num">پلاک
                                                            <abbr class="required" title="ضروری"
                                                                style="color:red;">*</abbr>
                                                        </label>
                                                        <input type="text" id="bld-num"
                                                            class="input-name-checkout js-input-bld-num form-control">

                                                    </div>

                                                    <div class="form-checkout-valid-row">
                                                        <label for="city">شهر
                                                            <abbr class="required" title="ضروری"
                                                                style="color:red;">*</abbr></label>
                                                        <select name="" id="city" class="form-control">
                                                            <option value="date-desc" selected="selected">شهر مورد نظر
                                                                خود را انتخاب کنید</option>
                                                            <option value="date-asc">آشخانه</option>
                                                            <option value="rate">شیروان</option>
                                                            <option value="views">اسفراین</option>
                                                            <option value="comments">جاجرم</option>
                                                        </select>
                                                        <label for="apt-id">واحد</label>
                                                        <input type="text" id="apt-id"
                                                            class="input-name-checkout js-input-apt-id form-control">
                                                    </div>

                                                    <label for="post-code">کد پستی<abbr class="required" title="ضروری"
                                                            style="color:red;">*</abbr></label>
                                                    <input type="text" id="post-code"
                                                        class="input-name-checkout form-control"
                                                        placeholder="کد پستی را بدون خط تیره بنویسید">

                                                    <label for="address">آدرس
                                                        <abbr class="required" title="ضروری"
                                                            style="color:red;">*</abbr></label>
                                                    <textarea rows="5" cols="30" id="address"
                                                        class="textarea-name-checkout form-control"></textarea>

                                                    <div class="AR-CR">
                                                        <button class="btn-registrar"> ثبت آدرس</button>
                                                        <a href="#" class="cancel-edit-address" data-dismiss="modal"
                                                            aria-label="Close">بازگشت</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- profile------------------------------->

   {% endblock %}

</html>