{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% block content %}


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">جستجو</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="header-search text-right">
                        <div class="header-search-box">
                            <form action="#" class="form-search">
                                <input type="search" class="header-search-input" name="search-input"
                                    placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                <div class="action-btns">
                                    <button class="btn btn-search" type="submit">
                                        <img src="assets/images/search.png" alt="search">
                                    </button>
                                    <div class="search-filter">
                                        <div class="form-ui">
                                            <div class="custom-select-ui">
                                                <select class="right">
                                                    <option>همه دسته ها</option>
                                                    <option>کالای دیجیتال</option>
                                                    <option>آرایشی بهداشتی</option>
                                                    <option>ابزاری اداری</option>
                                                    <option>مد پوشاک</option>
                                                    <option>خانه آشپز خانه</option>
                                                    <option>لوازم تحریر و هنر</option>
                                                    <option>کودک و نوزاد</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="search-result">
                                <ul class="search-result-list mb-0">
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            کالای دیجیتال
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            آرایشی و بهداشتی
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            گوشی موبایل
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            تبلت
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            لپ تاپ
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi mdi-clock-outline"></i>
                                            دوربین
                                            <button class="btn btn-light btn-continue-search" type="submit">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                                <div class="localSearchSimple"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>
    <!-- header-------------------------------->

    <!-- profile------------------------------->
    <div class="container-main">
        <div class="d-block">
            <section class="profile-home">
                <div class="col-lg">
                    <div class="post-item-profile order-1 d-block">
                        <div class="col-lg-3 col-md-3 col-xs-12 pr">

                            {% include "include/profile/sidbar.html" %}

                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12 pl">
                            <div class="profile-content">
                                <div class="profile-stats">
                                    <div class="profile-comment">
                                        <table class="table table-borderless table-profile-comment">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">نام محصول</th>
                                                    <th scope="col">نظر</th>
                                                    <th scope="col">وضعیت</th>
                                                    <th scope="col">عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" class="th-img">
                                                        <div class="thumb-img">
                                                            <a href="#">
                                                                <img
                                                                    src="assets/images/slider-product/SL1200_-300x300.jpg">
                                                            </a>
                                                            <div class="product-rate">
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        لپ تاپ چووی الترابوک 14 اینچ پرو
                                                    </td>
                                                    <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                                                        در ستون و سطرآنچنان که لازم است</td>
                                                    <td>
                                                        <span class="profile-comment-status-approved">تایید شده</span>
                                                    </td>
                                                    <td>
                                                        <button class="profile-comment-remove"><i
                                                                class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="th-img">
                                                        <div class="thumb-img">
                                                            <a href="#">
                                                                <img src="assets/images/slider-product/t-shirt-2.jpg">
                                                            </a>
                                                            <div class="product-rate">
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        تیشرت آستین بلند مردانه پاتیلوک طرح Killed مدل 330451
                                                    </td>
                                                    <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                        استفاده از طراحان گرافیک است.</td>
                                                    <td>
                                                        <span class="profile-comment-status-approved">تایید شده</span>
                                                    </td>
                                                    <td>
                                                        <button class="profile-comment-remove"><i
                                                                class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="th-img">
                                                        <div class="thumb-img">
                                                            <a href="#">
                                                                <img
                                                                    src="assets/images/slider-product/camera-samsung.jpg">
                                                            </a>
                                                            <div class="product-rate">
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                                <i class="fa fa-star active"></i>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        دوربین دیجیتال سامسونگ مدل ST150F
                                                    </td>
                                                    <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </td>
                                                    <td>
                                                        <span class="profile-comment-status-approved">تایید شده</span>
                                                    </td>
                                                    <td>
                                                        <button class="profile-comment-remove"><i
                                                                class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="profile-comment-thumb">
                                            <div class="profile-comment-img">
                                                <a href="#">
                                                    <img src="assets/images/slider-product/SL1200_-300x300.jpg">
                                                </a>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                            </div>
                                            <div class="profile-comment-content">
                                                <h4>
                                                    لپ تاپ چووی الترابوک 14 اینچ پرو
                                                    <span class="profile-comment-status-review">تایید شده</span>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                                                        در ستون و سطرآنچنان که لازم است</p>
                                                </h4>
                                                <ul class="profile-comment-actions mb-0">
                                                    <li>
                                                        <button class="profile-comment-remove"><i
                                                                class="fa fa-trash"></i></button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- profile------------------------------->

    {% endblock %}

</html>